.Todo{
  border: 1px solid rgb(194, 194, 194);
  border-radius: 3PX;;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  margin-bottom: 6px;
  background-color: #F7F7F7;
  &.completed {
    background-color: #d1f1d1;
    .task{
      text-decoration: line-through;
    }
    input {
      text-decoration: line-through;
      background-color: #d1f1d1;
    }
  }
  input {
    font-size: 20px;
    line-height: 20px;
    border: none;
    width: 100%;
    padding-left: 0;
    color: #46566B;
    background-color: #F7F7F7;

    &:focus{
      border: none;
      outline: none;
    }
  }
  &:first-child{
    color: red;
  }
  .task{
    width: 70%;
    text-align: left;
    padding-left:20px;
    height: 50px;
    display: flex;
    p {
      line-height: 20px;

    }
  }
  .btns{ 
    display: flex;
    height: 100%;
    .btn {
      height: 100%;
      display: flex;
      width: 45px;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      font-size: 12px;
      
    }
  }
  img { 
    width: 15px;
  }
  svg{
    fill: red;
  }
}